.jumbotron

  %h1 NEB File Upload Service

.section
  .container
    .row
      .col-lg-4
        %h3
          %img.circle{src:"/images/1NumberOneInCircle.png"}
          Receive Link
        %p Someone at NEB sends you a link
        %p
          Need to send a large file? Request a link directly from a specific employee or
          %a{href: 'mailto:?to=NEB Technical Support<info@neb.com>&subject=sending a file to NEB'} via Technical Support
      .col-lg-4
        %h3
          %img.circle{src:"/images/2NumberTwoInCircle.png"}
          Upload Files
        %p
          Visit your custom link, add files and upload
      .col-lg-4
        %h3
          %img.circle{src:"/images/3NumberThreeInCircle.png"}
          Confirmation Email
        %p On upload completion, both the uploader and NEB recipient will receive an email notification.
