<!doctype html>
<html>
<head>
  <title>NEB Large File Upload Service</title>
</head>

<body>
<h1>Welcome to the NEB File Upload service.</h1>


<form>
  <div>
    Upload Key: <input type="text">
    <input type="submit" >
  </div>
</form>
<a href="/uploads/new">Create a new upload key</a>

</body>
</html>