<div class="container theme-showcase" role="main">

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4">
        <a href="Https://www.neb.com/">
          <img class="img-responsive" src="https://www.neb.com/~/media/NebUs/Navigation/logo-NEB.png" alt="NEB logo"/>
        </a>
      </div>
      <div class="col-sm-8">
        <h1>File Upload Service</h1>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>How this works:</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">
      <h1>1</h1>
    </div>
    <div class='col-sm-3'>
      <p>
        Someone at NEB starts the process by <a href="/uploads/new">initiating an an upload</a>.
      </p>
    </div>

    <div class="col-sm-1">
      <h1>2</h1>
    </div>
    <div class='col-sm-3'>
      The uploader will receive an email containing URL for a dedicated upload location.
    </div>

    <div class="col-sm-1">
      <h1>3</h1>
    </div>
    <div class='col-sm-3'>
      On upload completion, both the uploader and NEB recipient will receive an email notification.
    </div>

  </div>
  <br/>

  <div class="row container">
    <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-lg btn-primary">Initiate an upload</button>
      </div>
  </div>

</div>