
.jumbotron

  %h1 NEB File Upload Service

  %a.btn.btn-success.btn-xlarge{href:"/uploads/new"} Initiate Upload

.section
  .container
    .row
      .col-lg-12
        %h2
          How does it work?
    .row
      .col-lg-3
        %h3
          %img.circle{src:"/images/1NumberOneInCircle.png"}
          Initiate Upload
        %p
          Click on the 'Initiate Upload' button
          to start the upload process.
      .col-lg-3
        %h3
          %img.circle{src:"/images/2NumberTwoInCircle.png"}
          Receive Email
        %p
          Recipient receives an email with an upload link.
      .col-lg-3
        %h3
          %img.circle{src:"/images/3NumberThreeInCircle.png"}
          Upload Files
        %p
          Recipient adds and uploads files
      .col-lg-3
        %h3
          %img.circle{src:"/images/4NumberFourInCircle.png"}
          Confirmation
        %p When upload is complete, you and the uploader will receive an email notification.

