!!!
%html
  %head
    %title= @page_title
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %link{href: "/css/bootstrap.min.css", rel: "stylesheet"}
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
    %link{href: "/css/style.css", rel: "stylesheet"}
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"}
  %body
    %script{src: "/js/jquery-1.10.2.js"}
    %script{src: "/js/modernizr.custom.js"}

    %nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container
        %a{href: "https://www.neb.com/"}
          %img{alt: "NEB logo",  src: "https://www.neb.com/~/media/NebUs/Navigation/logo-NEB.png", height: "90px"}
    .container
      = yield
    .container
      %hr
      %footer
        .row
          .col-lg-12
            %p © Copyright 2014 New England Biolabs. All Rights Reserved
    = File.read "views/analytics.html"