%script{src: "/js/jquery.clippy.min.js"}

.container.theme-showcase{role: "main"}
  %div
    %h1
      NEB File Upload Service:
    %p
      Enter the following information to generate a URL to send to externally.
      Any recipient will be able to upload files for the specified time period.
      You and the recipient will receive an email notification upon successful upload.
  .row
    %form#upload-form.form-horizontal
      %div
        %label
          Sender email address
          %input#sender_email{name: "sender_email", type: "text"}
      %div
        %label
          Recipient email address
          %input#destination_email{name: "destination_email", type: "text"}
      %div
        %label
          Allow uploads for
          = succeed "days" do
            %input#allow_upload_days{name: "allow_upload_days", type: "text", value: "30"}
      %div
        %label
          Keep uploads for
          = succeed "days" do
            %input#keep_file_days{name: "keep_file_days", type: "text", value: "30"}
      %div
        %label
          Maximum file size:
          %select#max_file_size{name: "max_file_size"}
            %option{value: 100 * 1024 * 1024} 100MB
            %option{value: 1024 * 1024 * 1024} 1GB
            %option{value: 10 * 1024 * 1024 * 1024} 10GB
            %option{value: 100 * 1024 * 1024 * 1024} 100GB
            %option{value: 1024 * 1024 * 1024 * 1024} 1TB
      %input.btn.btn-lg.btn-primary{type: "submit", value: "Create Upload Key"}
      %div
        Upload Key :
        %input#upload_key{label: "Paste this URL into an email to the uploader", type: "text", value: "Not created yet"}
        .span.clippy

:javascript
  $(document).ready(function(){

    var $clippyEl = $('.clippy');
    var $uploadInputEl = $('#upload_key');
    $clippyEl.clippy();

    $uploadInputEl.on("input", function(){
      $clippyEl.clippy(
        {text: $uploadInputEl.val()}
      )
    });

    $("#upload-form").submit(function(e) {
        e.preventDefault();
        var form_data = $(this).serialize();
        $.ajax({
            url: '/uploads',
            type: 'POST',
            data: form_data,
            success: function(data){
                $uploadInputEl.val(data.upload_key);
                $clippyEl.clippy({text: data.upload_key})
            }
        });
    });
  });

