NEB File Upload Service:

Enter the following information to generate a URL to send to externally.
Any recipient will be able to upload files for the specified time period.
You and the recpient will receive and email notification upon successful upload.
<form>
  <label>Sender email address<input id="sender_email" type="text"/></label>
  <label>Recipient email address<input id="destination_email" type="text"/></label>
  <label>Allow uploads for <input id="allow_upload_days" type="text" value="30"/>days</label>
  <label>Keep uploads for <input id="keep_file_days" type="text" value="30"/>days</label>

  <label>Maximum file size:
    <select id="maximum_file_size">
      <option>100MB</option>
      <option>1GB</option>
      <option>10GB</option>
      <option>100GB</option>
      <option>1TB</option>
    </select>
  </label>
  <input type="submit" value="Create Upload Key" />
  <!-- todo: do an ajax request the display the upload key, format it and put in the upload key box -->

  <div id="upload_key">
    Upload Key : <input type="text" value="Not created yet" label="Paste this URL into an email to the uploader"/> <%= clipboard_link %>
  </div>


</form>