%link{href: "/css/form.css", rel: "stylesheet"}

.form-container
  %form#signup
    .header
      %h3 NEB File Upload:
      %p Send email to sender and recipient with upload URL
    .sep
    .inputs
      %input#sender_email{name: "sender_email", required: true, type: "text", placeholder: 'Sender email address'}
      %input#destination_email{name: "destination_email", required: true, type: "text", placeholder:'Recipient email address'}
      %input#allow_upload_days{name: "allow_upload_days", required: true, type: "text", placeholder:'Allowed upload days'}
      %input#keep_file_days{name: "keep_file_days", required: true, type: "text", placeholder:'Allowed keep days'}
      %label
        Maximum file size:
        %select#max_file_size{name: "max_file_size"}
          %option{value: 100 * 1024 * 1024} 100MB
          %option{value: 1024 * 1024 * 1024} 1GB
          %option{value: 10 * 1024 * 1024 * 1024} 10GB
          %option{value: 100 * 1024 * 1024 * 1024} 100GB
          %option{value: 1024 * 1024 * 1024 * 1024} 1TB

      %input#submit{type: "submit"}

      Upload Key :
      %input#upload_key{type: "text", value: "Not created yet"}
      .span.clippy

​
%script{src: "/js/jquery.clippy.min.js"}

:javascript
  $(document).ready(function(){

    var $clippyEl = $('.clippy');
    var $submitButtonEl = $("#submit");
    var $uploadInputEl = $('#upload_key');
    $clippyEl.clippy();

    $uploadInputEl.on("input", function(){
      $clippyEl.clippy(
        {text: $uploadInputEl.val()}
      )
    });

    $("#signup").submit(function(e) {
        e.preventDefault();
        $submitButtonEl.val('Email is sending');
        var form_data = $(this).serialize();
        $.ajax({
            url: '/uploads',
            type: 'POST',
            data: form_data,
            success: function(data){
              $submitButtonEl.val('Email is sending... Please wait')
              $uploadInputEl.val(data.upload_key);
              $clippyEl.clippy({text: data.upload_key})
            },
            fail: function(){
              $submitButtonEl.val('Email failed to send')
            }
        });
    });
  });

