Please upload your files here.
A confirmation email will be sent to you and to <%= @sender_email %> when the upload has completed.
Your files will be retained for <%= @keep_days %> days.

<form class="upload-form">
  <input type="file" id="files" name="files[]" multiple />
  <output id="list"></output>
</form>

<script src="/js/underscore.js"></script>
<script src="/js/app.js"></script>

