

-#%form.upload-form
-#  %input#files{multiple: "multiple", name: "files[]", type: "file"}
-#  %output#list

%link{href: "/css/style.css", rel: "stylesheet"}
%link{href: "/css/jquery.fileupload.css", rel: "stylesheet"}
%script{src: "/js/underscore.js"}
%script{src:"/js/hmac-sha1.js"}
%script{src: "/js/enc-base64-min.js"}

%script{src: "/js/customized/uploader-form.js"}
%script{src: "/js/customized/upload.js"}
%script{src: "/js/customized/upload-part.js"}
%script{src: "/js/customized/uploader.js"}

-#%script{src: "/js/customized/test.js"}

.container.mtl
  %h4.mbm
    %p Please upload your files here.
    %p A confirmation email will be sent to you and to #{@sender_email} when the upload has completed.
    %p Your files will be retained for #{@keep_days} days.
    %p File Size may look wrong due to KB to MB conversion
  %form.upload-form
    .row.mbm
      %span.btn.btn-success.fileinput-button
        %i.glyphicon.glyphicon-plus
        %span Select files...
        %input#fileupload{multiple: "multiple", name: "files[]", type: "file"}
        %input{type: :hidden, name: :multipartMinSize, value: (5 * 1024 * 1024)}
        %input{type: :hidden, name: :maxFileSize, value: @max_file_size}
        %input{type: :hidden, name: :bucket, value: $BUCKET}
        %input{type: :hidden, name: :accessKey, value: $AWS_ACCESS_KEY_ID}
        %input{type: :hidden, name: :secretKey, value: $AWS_SECRET}
        %input{type: :hidden, name: :awsPolicy, value: aws_policy}
        %input{type: :hidden, name: :awsSignature, value: aws_signature}
        %input{type: :hidden, name: :acl, value: $ACL}
        %input{type: :hidden, name: :date, value: date}
      %button.btn.btn-primary.start{type: "submit"}
        %i.glyphicon.glyphicon-upload
        %span Start upload
    .row.mbm.files
      %table.upload-table.full-width
        %thead
          %tr
            %th File Name
            %th File Size
            %th Progress
        %tbody
    #files.files


// will only work with auth v2
// add <ExposeHeader>ETag</ExposeHeader> to CORS

:javascript
  $( document ).ready(function() {
    new Uploader();
  });