.mbm {margin-bottom:20px;}
.mts {margin-top:23px;}
.mtl {margin-top:160px;}

table.full-width {
    width: 100%;
}

thead {
    border-bottom: 1px solid #dddddd;
}

.upload-table tr.even, .upload-table tr.alt, .upload-table tr:nth-of-type(even) {
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    white-space: nowrap;
}

.btn-danger{
    margin-left:13px;
}

.glyphicon-remove-circle{
    font-size:20px;
}

.circle {
    width:25px;
    height:25px;
}

.btn-xlarge {
    padding: 12px 20px;
    font-size: 22px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-top:10px;
}

.carousel-caption {
    right:22%;
    top:36%;
}

.absolute {
    position: relative;
}

.image-text {
    position: absolute;
    top: 63%;
    left: 37%;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

/*Bottom CSS thanks to Jquery File Upload*/
.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}