.mbm {margin-bottom:20px;}
.mts {margin-top:23px;}
.mtl {margin-top:160px;}

table.full-width {
    width: 100%;
}

thead {
    border-bottom: 1px solid #dddddd;
}

.upload-table tr.even, .upload-table tr.alt, .upload-table tr:nth-of-type(even) {
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    white-space: nowrap;
}

.btn-danger{
    margin-left:13px;
}

.glyphicon-remove-circle{
    font-size:20px;
}

.banner {
    background-color: rgb(58, 58, 58);
    height: 122px;
}

.banner h1{
    font-size: 60px;
    line-height: 1.3em;
    color:  #e3e3e3;
}

.header-container {
    background-color:#eee;
}

.header-container h2{
    font-size: 50px;
}
